{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        
        <form action="/login" method="POST">
            <div class="input-box">
                <input type="text" class="input-field" name="username" placeholder="Username" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="input-submit">
                <button class="submit-btn" id="submit"></button>
                <label for="submit">Login</label>
            </div>
            <div class="sign-up-link">
                <p>Don't have an account? <a href="/register">Sign Up</a></p>
            </div>
        </form>
    </div>
{% endblock %}
