{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <div class="form-container">
        <form action="/search" method="post">
            <div class="input-box">
                <input type="text" class="input-field" name="query" placeholder="Search for albums" required autofocus>
                <button type="submit" class="search-btn">
                    <img src="/static/images/search.svg" alt="Search Icon" width="20" height="20">
                </button>
            </div>
        </form>
    </div>
{% endblock %}
